.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  background: var(--gray-700);
  height: 12.5rem;
}

.header h1 {
  color: var(--blue);
  font-weight: 900;
  /* line-height: 3rem; */
}

.do {
  color: var(--purple-dark)
}